* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.cart {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(132, 192, 210);
  background-image: url();
}
img {
  width: 200px;
}
